@import 'tailwindcss';

@theme {
  --color-pink-200: #f3cbbf
}

/* body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #f0b8b8;
  border-color: #3b3b3b;
  user-select: none;
} */