@import 'tailwindcss';

.body{
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding:0;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.search-bar {
  z-index: 10; /* Make sure the search bar is above other elements */
}